<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         testdox="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/unit</directory>
        </testsuite>
        <testsuite name="Functional">
            <directory>tests/functional</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="YII_ENV" value="test"/>
        <env name="YII_DEBUG" value="true"/>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="1G"/>
    </php>
    <source>
        <include>
            <directory>controllers</directory>
            <directory>models</directory>
            <directory>services</directory>
        </include>
    </source>
    <coverage>
        <report>
            <html outputDirectory="tests/coverage/html"/>
            <text outputFile="tests/coverage/coverage.txt"/>
        </report>
    </coverage>

</phpunit>