# The name of your application
APP_NAME=ms-draw

APP_ENV=production

#Log configuration
LOG_CHANNEL=stdout

# The timezone in which your application will operate
APP_TIMEZONE=Asia/Tashkent

# Enable or disable debug mode (true to enable, false to disable)
SERVER_DEBUG=true

# Number of CPUs allocated to the server
SERVER_CPU_COUNT=4

# IP address the server will listen on (0.0.0.0 to listen on all interfaces)
SERVER_ADDRESS=0.0.0.0

# Port on which the server will run
SERVER_PORT=8086

# User under which the server will run (can be left empty)
SERVER_USER=

# Group under which the server will run (can be left empty)
SERVER_GROUP=

DB_DRIVER=pgsql
DB_HOST=nlu-postgres
DB_PORT=5432
DB_DATABASE=ms_draw
DB_USERNAME=postgres
DB_PASSWORD=password

#REDIS
REDIS_HOST=nlu-redis
REDIS_PORT=6379


#Kafka
KAFKA_NLU_BROKER_LIST=nlu-kafka:9094
KAFKA_NLU_TICKET_DAILY_FIXED_TOPIC=daily_fixed_tickets_v1
KAFKA_NLU_TICKET_DAILY_DYNAMIC_TOPIC=daily_dynamic_tickets_v1
KAFKA_NLU_TICKET_JACKPOT_TOPIC=jackpot_tickets_v1
KAFKA_NLU_TICKET_SUPERTOUR_TOPIC=supertour_tickets_v1
KAFKA_NLU_LOTTERY_SCHEDULES_TOPIC=lottery_schedules_v1
KAFKA_NLU_LOTTERY_DRAW_RESULTS_TOPIC=lottery_draw_results_v1
KAFKA_NLU_LOTTERY_DRAW_CONFIG_TOPIC=lottery_draw_config_v1
KAFKA_NLU_CONSUMER_GROUP_ID=cg_draw_service

KAFKA_NLU_WITH_SASL=false
KAFKA_NLU_SASL_PROTOCOL="SASL_PLAINTEXT"
KAFKA_NLU_SASL_MECHANISMS="SCRAM-SHA-512"
KAFKA_NLU_SASL_USERNAME="draw_service"
KAFKA_NLU_SASL_PASSWORD="1xijE7dKKCXP"

# Экспорт билетов в кафку
USER_TICKETS_EXPORT_CHUNK_SIZE=1000
USER_TICKETS_EXPORT_MAX_TICKETS=100000

WINNER_PERCENTAGE=5
MS_TICKET_MANAGER_URI=ms-ticket-manager:8084
MS_TICKET_MANAGER_URI_NEW=http://ms-ticket-manager:8084
